* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 90px;
	background: #262626d7;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
.logo a:hover{
	color: rgb(95, 156, 192);
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
nav a:hover{
	color: #b1f7fd;
}
.banner-area {
	width: 100%;
	height: 500px;
	background-image: url("img/Campus.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.project{
	margin-top: 50px;
	font-size: 50px;
	justify-content: centre;
}

.content-area {
	display: flex;
	width: 100%;
	position: relative;
	top: 50px;
	background: #ebebeb;
	justify-content: space-evenly;
	
}
.content{
	height: 300px;
	width:200px;
	margin-top: 20px;
	
}

.foot{
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: column;
	background: #262626;
	margin-top: 100px;
	
}
.nn{
	width: 100%;
	height:110px;
	text-align: center;
	font-size: 50px;
	padding-top:25px ;
	color: #fff;
}
.mm{
	width: 100%;
	height:80px;
	color: #fff;
	font-size: 20px;
	padding-bottom: 20px;
}
.content a:link{
	color: black;
	text-decoration: none;
}
.content a:visited{
	color: #262626;
	text-decoration: none;
}
.content a:hover{
	color: red;
	text-decoration: underline;

}
.content a:active{
	color: blue;
}

.inner{
	/* height:1650px; */
	width:80%;
	position:relative;
	background-color:#b1f7fd;
	opacity:1;
	margin: auto;
	padding:50px;
	top: 80px;
}

.outer{
	
	width:100%;
	margin: auto;
	background-color:#cbe7f2;
	height: 1800px;
}
.outer2{

	width:100%;
	margin: auto;
	background-color:#cbe7f2;
	height:5600px;
}
.outer3{
	
	width:100%;
	margin: auto;
	background-color:#cbe7f2;
	height: 2300px;
}

.preview-box {
	padding: 15px;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
	background: #fcfcfc;
	border: 2px solid #e6e6e6;
	width:65%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

code {
	font-weight: bold;
	font-family: Consolas, Monaco, "Andale Mono", monospace;
}
.preview-box {
	padding: 15px;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
	background: #fcfcfc;
	border: 2px solid #e6e6e6;
	width:65%;
}